:root {
    --minWidth: 400px;
    --width: 300px;
  }
  
body
{
    background-image: url("../CryptoBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main-div
{
    margin-top: 5rem;
}
.custom-brand-text
{
    color: #EEEEEE !important;
}
.img-logo
{
    border-radius: 10px;
    background-color: #9288F8;
}
.custom-jumbotron
{
    background: transparent !important;
}
.custom-form
{
    width: var(--width);
    min-width: var(--minWidth);
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    min-width:calc(var(--minWidth) -20px);
    width: calc(var(--width) - 20px);
    border-radius: 5px !important;
    margin-left: 1px !important;
    padding-left: 5px !important;
}
.ui-menu-item {

    list-style-type: none; /* Remove the bullet points */
    padding-left: 10px !important;
}