:root {
    --minWidth: 400px;
    --width: 300px;
}
body
{
    background-image: linear-gradient(0deg, #1d0d30 1%, #000000 220%);
}  
.bodyz
{
    background-image: url("../1CryptoBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.main-div
{
    margin-top: 5rem;
}
.custom-brand-text
{
    color: #B7B7B7 !important;
}
.img-logo
{
    border-radius: 10px;
    background-color: #9288F8;
}
.custom-jumbotron
{
    background: transparent !important;
}
.custom-form
{
    width: var(--width);
    min-width: calc(var(--minWidth) + 50px);
}
.custom-tray
{
    background-color: white !important;
}
.custom-tableData
{
    color: white;
    font-size: 18px I !important;
    border-bottom: solid white;
}
.custom-tableTitle
{
        color: white;
        font-size: 20px I !important;
}
.custom_search_res
{
    color: white;
    font-size: 18px I !important;
}
.container-tables
{
    width: 70%;
    min-width: calc(var(--minWidth) + 200px) !important;
    background-color: rgba(220,220,220,0.2);
}
.tr-radius
{
    border-top-right-radius: 8px;
}
.tl-radius
{
    border-top-left-radius: 8px;
}
.container-title
{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.bot-radius
{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.positive 
{
    color: green;
}
.negative 
{
color: red;
}
.main-container
{
    width: 100%;
    min-width: calc(var(--minWidth) + 200px) !important;
    
}
.head-div
{
    width: 100%;
}